<div class="main-container-about">
    <div class="photo-container">
        <img src="../../assets/img/eu-ai1.jpg" class="photo">
    </div>  
    <div class="about-container">
        <p class="about-title">About</p>

        <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac leo eget justo malesuada porta. Interdum et malesuada fames ac 
            ante ipsum primis in faucibus. Duis ullamcorper risus a pellentesque elementum. Fusce aliquet, augue a sodales rutrum, metus tellus 
            porttitor eros, vitae euismod ligula est in sapien. Donec molestie sapien arcu, non iaculis dolor consequat tempor. Maecenas ligula 
            sapien, tristique ac bibendum at, fermentum vel mi. Integer non eros vitae neque cursus mollis nec in lorem. Sed scelerisque ante a 
            arcu scelerisque, ut congue velit mattis. Quisque pellentesque sed magna at dignissim. Quisque venenatis lectus nec elit varius, non 
            venenatis dui faucibus. Praesent aliquet dapibus diam accumsan commodo.
        </p>    
    </div>
</div>

