.main-container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    overflow-y:auto; 
    position:relative;
    height: 90%;

    .photo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        

        .photo {
            width: 50%;
            height: 70%;
            border-radius: 30px;
            box-shadow: 0px 0px 17px -2px black;
        }
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 650px;

        .about-title {
            font-size: 50px;
            font-family: 'Odibee Sans', cursive;
            color: #fff;
            margin-bottom: 15px;
        }

        .about-text {
            text-align: justify;
            font-family: 'Saira Semi Condensed', sans-serif;
            color: #fff;
        }
        
        .social-media-container {
            display: flex;
            justify-content: flex-start;

            .link-social-media {
                text-decoration: none;
                color: #fff;
                
                .custom {
                    font-size: 35px;
                    margin: 10px 10px 0 0 ;
                }
                
                .custom:hover {
                    color: #2b2b2b;
                }
    
                .custom:active {
                    color: #4c4c4c;
                }
            }

            .link-social-media:visited {
                color: #fff
            }

        }
    }
}