html, body {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background-color: #5b6467;
	background-image: linear-gradient(315deg, #5a5a5a 0%, #535353 74%);
	background-repeat: no-repeat;
	height: 100%;
}

p {
	margin-block-start: 0;
    margin-block-end: 0;
}